.block
  .secondary-navigation
    =render :partial=>'nav'
  .content
    %h2.title
      = t("common.all")
      = t("invoice",:count=>3)
    .inner
      #entry_info
        = page_entries_info @invoices
      %table.table
        %thead
          %tr
            %th.first ID
            %th=t("invoice.invoice_number")
            %th=t("invoice.invoice_date")
            %th=t("invoice.sum_netto")
            %th=t("invoice.sum_brutto")
            %th.last &nbsp;
        %tbody#invoices
          =render @invoices
      #paginator
        = paginate @invoices, { :remote=>true, :type=>"script"}
- content_for :sidebar, render(:partial => 'sidebar')
