.block
  .content
    .inner
      %h2 #{@invoice.number} 
      =entity_row(@invoice,:invoice_date,:date)
      =render @invoice.customer
      =entity_row(@invoice,:generator_session_id)
      %table.table.table-condensed
        %tr
          %th=t("invoice_item.count")
          %th=t("invoice_item.label")
          %th=t("invoice_item.price")
          %th=t("invoice_item.total")
        =render @invoice.invoice_items
        %tr.sum
          %td &nbsp;
          %td=t("invoice.sum")
          %td &nbsp;
          %td.currency=number_to_currency @invoice.sum, locale: :de
