%h2=invoice_customer.customer_id

=entity_row invoice_customer,:customer_id
=entity_row invoice_customer,:company
=entity_row invoice_customer,:salutation
=entity_row invoice_customer,:first_name
=entity_row invoice_customer,:last_name
=entity_row invoice_customer,:street
=entity_row invoice_customer,:zip
=entity_row invoice_customer,:city
=entity_row invoice_customer,:country
=entity_row invoice_customer,:email,:mail
=entity_row invoice_customer,:iban
=entity_row invoice_customer,:bic
