<!DOCTYPE html>
<html>
<head>
  <title>CorikaInvoices</title>
  <%= stylesheet_link_tag    "corika_invoices/application", media: "all" %>
  <%= javascript_include_tag "corika_invoices/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
