%h2=customer.customer_id

=entity_row customer,:customer_id
=entity_row customer,:company
=entity_row customer,:salutation
=entity_row customer,:first_name
=entity_row customer,:last_name
=entity_row customer,:street
=entity_row customer,:zip
=entity_row customer,:city
=entity_row customer,:country
=entity_row customer,:email,:mail
=entity_row customer,:iban
=entity_row customer,:bic
